<html>
<head>
  {{>head}}
</head>

<body id="post">

{{>home_header}}

<div class="container content">
  <nav class="post-nav">
    <ul class="pager">
      <li class="previous"><a class="btn" href="/{{post.author.id}}"><span aria-hidden="true">&larr;</span> Go Back</a></li>
    </ul>
  </nav>
  {{#with post}}
    <div class="post">
      <div class="post-heading">
        <h3 class="post-title">{{title}}</h3>
        <div class="post-info">
          <small class="text-muted">Written 
            <!-- by <strong><a class="inverse" href="/{{author.id}}">{{author.username}}</a></strong>  -->
            on {{detailDate date}}</small>
          <small class="pull-right"><a href="#comments">{{comments.length}} Comments</a></small>
        </div>
        <hr>
      </div>

      <div class="post-content">
        <script type="text/plain" id="content">{{{content}}}</script>
      </div>
      <hr>
    </div>

    <div id="comments">
      <h4 class="color-blue">Comments</h4>
      {{#each comments}}
        <div class="comment">
          <h5><a class="inverse" href="/{{author.id}}">{{author.username}}</a></h5>
          <p>{{content}}</p>
        </div>
      {{/each}}
    </div>

    <hr>

    <div>
      <h4 class="color-blue">Leave a Comment</h4>
      <form>
        <textarea name="content" id="new-comment" class="form-control"></textarea>

        <div class="alert alert-danger" style="display: none;"></div>

        <div id="operation">
          {{#if ../req.user}}
            <!-- <span>{{../req.user.username}}</span> -->
            <a class="btn btn-red" onclick="comment()">Post</a>
            <span>Logged in as Usermann</span>
          {{else}}
            <a class="btn btn-red" href="/account/login">Login</a>
            <span>Log in to comment</span>
          {{/if}}
        </div>
      </form>
    </div>
  {{/with}}
</body>
</html>
