<html>
<head>
  {{>head}}
</head>

<body id="blog-home">

{{>home_header}}

<div class="container content">

  {{#each pager.results}}
    <div class="post">
      <div class="post-heading">
        <h3 class="post-title"><a class="inverse" href="/post/{{id}}">{{title}}</a></h3>
        <div class="post-info">
          <small class="text-muted">Written 
          <!-- by <strong><a class="inverse" href="/{{author.id}}">{{author.username}}</a></strong> -->
             on {{detailDate date}}</small>
          <small class="pull-right"><a href="/post/{{id}}#comments">{{comments.length}} Comments</a></small>
          <!-- <small class="text-muted">Written by Me on {{detailDate date}}</small> -->
        </div>
        
      </div>
      <div class="post-content">
        {{excerpt content}}
      </div>
    </div>
    <hr>
  {{/each}}


  <!-- <nav class="page-nav">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>

      <li><a href="#">&raquo;</a></li>
    </ul>
  </nav> -->
  <nav class="page-nav">
    <ul class="pagination">
      <li><a href="?page={{pager.prev}}">&laquo;</a></li>
      {{#each pager.pages}}
        <li {{#if isCurrentPage}} class="active" {{/if}}><a href="?page={{this}}">{{this}}</a></li>
      {{/each}}
      <li><a href="?page={{pager.next}}">&raquo;</a></li>
    </ul>
  </nav>

</div>
</body>
</html>
